.container{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16rem repeat(9, 1fr);
    grid-gap: 5%;
    grid-template-areas:
      "header"
      "prj1" "prj2" "prj3" "prj4" "prj5" "prj6" "prj7" "prj8" "prj9"
  }

.detail-container{
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 16rem 12rem 1fr;
    /* grid-gap: 1rem; */
  }

.detail-container > header.prj-header{
  grid-row: 1/2;
  grid-column: 1/2;
}

.prj-info{
  grid-row: 2/3;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-image: url("../img/bg-fprj-rect-f4f4f4.png");
  background-repeat: no-repeat;
  background-size: 60% 60%;
  padding-top: 5%;
  padding-left: 5%;
}

.prj-info > div > p{
  font-size: 1.2rem;
  color: #777777;
}

.prj-info > div > p.pbold{
  color: #222222;
}
.prj-info > div{
  padding-right: 4.8rem;
}

.prj-description{
  grid-row: 3/4;
  padding-top: 3rem;
}
.prj-description > img{
  width: 100%;
  height: auto;
}
.prj-description > p{
  color: #555555;
}



.site-nav{
  grid-area: nav;
  padding-left: 2rem;
  padding-right: 2rem;
}

.prj-header{
  grid-area: header;
  align-self: center;
}

.prj-caption{
  height: 6.8rem;
  width: 15rem;
  background-image: url("../img/bg-fprj-rect-f4f4f4.png");
  background-repeat: no-repeat;
  background-size: 60% 79.1%;
  position: relative;
}
  .prj-caption.bg-nkf{
    background-image: url("../img/bg-prj-detail-rect-orange.png");
  }
  .prj-caption.bg-bik{
    background-image: url("../img/bg-prj-detail-rect-yellow.png");
  }
  .prj-caption.bg-l1{
    background-image: url("../img/bg-prj-detail-rect-blue.png");
  }
  .prj-caption.bg-acm{
    background-image: url("../img/bg-prj-detail-rect-red.png");
  }
  .prj-caption.bg-veb{
    background-image: url("../img/bg-prj-detail-rect-pink.png");
  }
  .prj-caption.bg-mob{
    background-image: url("../img/bg-prj-detail-rect-purple.png");
  }

.prj-caption > h1{
  position: absolute;
  bottom: -0.5rem;
  right: -0.5rem;
}

.prj-item{
  justify-content: center;
  padding-bottom: 3rem;
}

.prj-item > a > img{
  width: 100%;
  height: auto;
}

.prj-item > p.label{
  margin-top: 1rem;
}

.prj-item > h4{
  margin-top: 1rem;
  color: #555555;
}

#prj1{
  grid-area: prj1;
}

#prj2{
  grid-area: prj2;
}
#prj3{
  grid-area: prj3;
}
#prj4{
  grid-area: prj4;
}
#prj5{
  grid-area: prj5;
}
#prj6{
  grid-area: prj6;
}
#prj7{
  grid-area: prj7;
}
#prj8{
  grid-area: prj8;
}
#prj9{
  grid-area: prj9;
}

footer{
  grid-area: footer;
}

/*=======PROJECTS PAGE Restyle========*/
@media only screen and (min-width: 960px){
  .container{
      margin: 0 16%;
      grid-template-columns: 47.5% 47.5%;
      /* don't use  1fr 1fr, it will cause weird disproportion on two-column images */
      grid-template-rows: 16rem repeat(5, 1fr);
      grid-template-areas:
        "header ."
        "prj1 prj2"
        "prj3 prj4"
        "prj5 prj6"
        "prj7 prj8"
        "prj9 .";
    }

    .detail-container{
      padding: 2rem;
      display: grid;
      grid-template-columns: 12% 44% 1fr;
      grid-template-rows: 16rem 14rem 1fr;
      /* grid-gap: 1rem; */
    }

    .detail-container > header.prj-header{
      grid-column: 2/3;
    }

    .prj-info{
        grid-column: 2/4;
        background-size: 72% 60%;
    }
    .prj-info > div{
      padding-right: 2.4rem;
    }
    .prj-description{
      grid-column: span 3;
      padding-left: 12%;
      padding-right: 12%;
    }
}

@media only screen and (min-width: 1280px){
  .prj-info{
      background-size: 60% 60%;
  }
}
