/* Mobile Devices: basic <576 */

@media only screen and (min-width: 576px){
  .header-caption{
    margin-left: 23%;
  }
  section.featured-project{
    background-size: 85% 56%;
  }
  a.btn-next-prj > div{
    padding-left: 36%;
  }
}

@media only screen and (min-width: 720px){
  .header-caption{
    margin-left: 24%;
  }
}

/* Tablet Devices: minwidth>=768px */
@media only screen and (min-width: 768px){
  html{
    font-size: 16px;
  }
  section.featured-project{
    background-size: 85% 64%;
  }
  .header-caption{
    margin-left: 15%;
  }

  .prj-info > div.info-team{
    display: block;
  }
}

@media only screen and (min-width: 848px){
  .header-caption{
    margin-left: 20%;
  }
}

/* Desktop Devices: minwidth>=960px */
@media only screen and (min-width: 960px){
  /* Revised font sizes */
  html{
    font-size: 20px;
  }
  h3{
    font-size: 1.8rem;
  }

  h4{
    font-size: 1.5rem;
  }

  h5{
    font-size: 1.2rem;
  }

  p, p.label{
    font-size: 0.9rem;
  }

  .header-caption{
    margin-left: 19%;
  }

  section.featured-project{
    padding-top: 3rem;
    background-size: 85% 60%;
  }

  .prj-info > div.info-role,
  .prj-info > div.info-team{
    display: block;
  }

}

@media only screen and (min-width: 1140px){
  .header-caption{
    margin-left: 21%;
  }
  section.featured-project.align-left{
    flex-direction: row;
    align-items: center;
  }
  section.featured-project.align-right{
    flex-direction: row-reverse;
    align-items: center;
  }
  .fprj-description.align-left{
    padding-left: 5%;
  }
  .fprj-description.align-right{
    padding-right: 5%;
  }
  section.featured-project{
    background-size: 60% 80%;
  }
}

@media only screen and (min-width: 1280px){
  .header-caption{
    margin-left: 22%;
  }
}

@media only screen and (min-width: 1366px){
  .header-caption{
    margin-left: 23%;
  }
}

@media only screen and (min-width: 1440px){
  .header-caption{
    margin-left: 24%;
  }
}

@media only screen and (min-width: 1600px){
  .header-caption{
    margin-left: 27%;
  }
}

@media only screen and (min-width: 1920px){
  .header-caption{
    margin-left: 29%;
  }
  .fprj-description.align-left{
    padding-left: 20%;
  }
  .fprj-description.align-right{
    padding-right: 20%;
  }
}

@media only screen and (min-width: 2180px){
  .header-caption{
    margin-left: 30%;
  }
}
